*{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: lavenderblush;
}
a{
    text-align: left;
    margin-right: 130px;
    margin-top: 5px;
    font-size: 18px;
    font-family: Poppins sans-serif;
    font-weight: bold;

}
#navbar {
    height: 32px;
    background-color: lightpink;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}
#name {
    font-family: cursive;
    font-size: 1.38em;
    margin-left: 5px;
    font-weight: 550;
    color: black;
}
.intro {
    display: flex;
    justify-content: space-around;
}
.leftt {
    font-size: 2.5em;
    margin-top: 130px;
}
.right img{
 width: 80%;
 margin: 50px 0;
}
.intro > div {
    width: 30%;
}
#pink {
    color: hotpink;
    font-family: monospace;
    font-size: 40px;
}
div a {
    text-decoration: none;
    color: black;
} 
a:hover, a:active {
    background-color: hotpink;
    color: white;
}
main hr {
    border: 0;
    background-color:hotpink;
    height: 1.7px;
    margin: 40px 84px;
}
.about h1 {
    color: black;
    max-width: 80vw;
    font-family: monospace; 
    font-size: 1.5rem;
    float: right;
    margin-right: 330px;
  
}
.about p {
    position: relative;
    top: 20px;
    left: -85px;
    right: 300px;
    width: 420px;
    height: 210px;
    text-align: justify-all ;
    color: deeppink;
    font-size: 1.24rem;
    font-family: sans-serif;
    padding: 5px;
}
.about {
    display: flex;
    justify-content: space-between;
    margin:23px 0 ;
}
.rightt {
    width: 35%;
   
    }
.left{
    width: 50%;
    margin: 40px;
    position: relative;
    left: 0px;
}
.left img{
    width: 80%;
    margin-left:50px ;
    margin-top: -80px;
}
 .rightt h1 {
    color: black;
    font-size: 1.5rem;
    font-family: monospace;

}
.content {
    color: deeppink;
    font-family:sans-serif;
    font-size: 1.0rem;
    width: 45%;
    float: left;
    margin-left: 2%;
    height: 540px;
    position: relative;
    top: 25px;
}
.pic {
    width: 40%;
    position: relative;
    left: 100px;
    float: right;
    margin-right: 12%;
    height: 400px;
    overflow: hidden;
}
.pic img {
    width: 110%;
    position: relative;
    top: -25px;
    left: -15px;
    margin: auto;
}
.exp h1 {
     color: black;
    max-width: 80vw;
    font-family: monospace; 
    font-size: 1.5rem;
    margin-left: 150px;
}
.content p {
    margin-left: 3px;
    font-family: sans-serif;
    font-size: 1.2rem;
}
.content ol {
     font-family: sans-serif;
    font-size: 1.2rem;
    margin-left: 35px;
    color: black;
}
#color {
    color: black;
}
.content #chg {
    color: deeppink;
}

#chg #small {
    font-size: 15px;
}
#chg {
    font-size: 1.2rem;
}
.lfim {
    width: 30%;
    float: left;
    position: relative;
    top: 50px;
    right: 570px;
     width: 350px;
    height: 350px;
}
.rtsk {
    width: 30%;
    float: right;
    position: relative;
    right: 150px;
    top: 50px;
    width: 320px;
    height: 350px;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: bold;
    text-align: justify-all;
}
.rtsk h1 {
     color: black;
    max-width: 80vw;
    font-family: monospace; 
    font-size: 1.5rem;
    float: right;
    margin-right: 160px;
}
#list {
color: deeppink;
float: right;
position: relative;
font-size: 1.2rem;
top: 20px;
right: 80px;
}
.lfim img {
    width: 30%;
}
.prj h1 {
    color: black;
    max-width: 80vw;
    font-family: monospace; 
    font-size: 1.7rem;
    margin-left: 150px;
    margin-top: 50px;
    position: relative;
    right: 0px;
    bottom: 20px;
    padding: 10px;

}
.prj{
    width: 30%;
    float: left;
    height: 170px;
}
.picp {
    width: 50%;
    float: right;
    height: 370px;
    position: relative;
    top: 40px;
    right: 35px;
}
.prj ul li {
    color:purple;
    float: left;
    font-weight: bold;
    display: flex;
    position: relative;
    right: 0px;
    left: 85px;
    top: 20px;
    font-size: 1.2rem;
    font-family: sans-serif;
}
.prj p {
    width: 580px;
    height: 170px;
    position: relative;
    right: 0px;
    top: 44px;
   padding: 20px;
    text-align: left;
     font-family: sans-serif;
    font-size: 1.2rem;
    color: deeppink;
}
.picp img {
    width: 65%;
    position: relative;
    left: 150px;
    top: 90px;
}
/*.project2 {
    display: flex;
    justify-content: space-around;
}*/
.lftpic {
   float: left;
   position: relative;
   top: 300px;
   left: 50px;
   width: 35%;
   height: 270px;
   justify-content: space-around;
   display: flex;
}
.rtpr {
/*display: flex;*/
}
.rtpr h1 {
    width:18% ;
    color:purple;
    float: right;
    position: relative;
    right: 250px;
    top: 100px;
    font-size: 1.2rem;
    font-family: sans-serif;
/*    background-color: palevioletred;*/
}
.rtpr p {
 float: right;
color: deeppink;
width: 40%;
height: 170px;
/*background-color: yellow;*/
height: 70px;
position: relative;
right: 14px;
left: 140px;
top: 140px;
font-family: sans-serif;
font-size: 1.2rem;
}
.resume {
    display: flex;

}
.lresume {
    float: left;
    width: 30%;
    height: 170px;
/*    background-color: blueviolet;*/
    position: relative;
    top: 500px;
    left: 100px;
}
.rresume {
    float: right;
    width: 40%;
    height: 370px;
/*    background-color: gray;*/
    position: relative;
    top: 450px;
    right: 80px;
}
.rresume img {
    width: 95%;
}
.lresume button {
    width: 35%;
    height: 60px;
    background-color: hotpink;
    margin: 20px;
    font-size: 1.2rem;
    border-color: deeppink;
    color: purple;
}
/* Resetting some styles for mobile devices */
@media (max-width: 767px) {
  body {
    font-size: 16px; /* Adjust the font size for smaller screens */
  }
  a {
    margin-right: 0;
  }
  .intro {
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
  .leftt {
    margin-top: 20px;
    text-align: center;
  }
  .right img {
    width: 100%;
    margin: 20px 0;
  }
  /* Add more mobile-specific styles as needed */
}

/* Media query for tablet-sized screens */
@media (min-width: 768px) and (max-width: 1023px) {
  .about h1 {
    font-size: 1.2rem;
    margin-right: 0;
    text-align: center;
  }
  .about p {
    margin: 10px auto;
    text-align: center;
    width: 80%;
  }
  /* Add more tablet-specific styles as needed */
}

/* Media query for larger screens (desktop) */
@media (min-width: 1024px) {
  /* Add desktop-specific styles here */
}
